{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block scripts %} {{ window_vars(user) }}
<script type="module" src="/monopoly/static/js/index.js"></script>
<!-- CDNJS :: Sortable (https://cdnjs.com/) -->
<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
{% endblock %} {% block page %}
<link rel="stylesheet" href="/monopoly/static/css/monopoly.css"/>
<div id="monopoly" class="row q-col-gutter-md">
  <div class="col-12 col-md-7 q-gutter-y-md">
    <q-card>
      <!-- Welcome view -->
      <div style="padding: 1em; font-size: 1.2em;" v-if="!game.created && !game.imported">
        <div class="row">
          <span class="col-8 col-md-8" :style="reactiveStyles.welcomeText">
             Welcome to Bitcoin Monopoly!
          </span>
          <span class="col-3 offset-md-1 col-md-3" style="margin-top:0.5em; font-size:1em">
            <q-btn row color="primary" icon="account_balance" style="margin-left: 2em;" @click="createGame()">
              <span style="margin-left:0.25em;">Start</span>
            </q-btn>
          </span>
        </div>
        <div class="row">
          <span class="col-12 col-md-12" style="margin-top: 1.5em; font-size: 0.87em; color: red">
            <b>Make sure to bookmark this page in order to be able to restore your wallets and saved games!</b>
          </span>
        </div>
        <div class="row">
          <span class="col-12 col-md-12" style="margin-top: 1.5em; font-size: 0.87em">
                Click the Start button above to create a new game and generate your dedicated LNBits player wallet
          </span>
        </div>

        <div class="row">
          <span class="col-12 col-md-12" style="margin-top: 1.5em; font-size: 0.87em">
                You can also load an existing game listed in the table below
          </span>
        </div>
        <!-- Game records table -->
        <div class="q-pa-md">
          <q-table
            title="Saved games"
            dense
            :data="gameRecordsData.rows"
            :columns="gameRecordsData.columns"
            row-key="name"
            :rows-per-page-options="[100]"
            hide-bottom
          >
            <template v-slot:body-cell-link="props">
              <q-td :props="props">
                <q-btn dense round flat color="grey" icon="play_circle" @click="loadExistingGame(props.row.gameId)"></q-btn>
              </q-td>
            </template>
          </q-table>
        </div>
      </div>
    </q-card>
  </div>
</div>
{% endblock %}
