.image-hover-highlight {
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
    &:hover {
         border: 1px solid gray;
         filter: brightness(130%);
         -webkit-filter: brightness(130%);
         -moz-filter: brightness(130%);
         -o-filter: brightness(130%);
         -ms-filter: brightness(130%);
         -webkit-transition: all 0.50s;
         transition: all 0.50s;
    }
}
.q-loading-bar {
    visibility: hidden;
}
