{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block scripts %} {{ window_vars(user) }}
<script>
  {% if invite_vars %}
    window.invite_vars = {{ invite_vars | tojson | safe }}
  {% endif %}
</script>
<script type="module" src="/play/static/js/invite.js"></script>
{% endblock %} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-7 q-gutter-y-md">
    <q-card>
      <div style="padding: 1em; font-size: 1.2em;">
        <div style="margin-top: 0.5em;">
           GM, you've been invited to play Bitcoin Difficulty!
        </div>
        <div class="row" v-if="!maxNumberOfPlayersReached">
          <div style="margin-top: 1em;">
            <q-btn v-if="!joiningGame" outline color="orange" icon="bolt" @click="joinGame()">
              <span style="margin-left: 1em;margin-right: 1em;">
                Play
              </span>
            </q-btn>
            <q-btn v-else disabled outline icon="bolt">
              <q-spinner
                v-if="joiningGame"
                style="margin-left: 0.785em; margin-right: 0.785em;"
                color="orange"
                size="1em"
              />
            </q-btn>
          </div>
          <!--div v-else>
            <span style="margin-top: 1em;">
               Claiming your sats...
            </span>
            <div class="row">
              <div class="offset-5 col-2 offset-md-5 col-md-2" style="margin-top: 2em; margin-bottom: 2em; display: flex; justify-content: center;">
                <q-spinner
                  color="orange"
                  size="2em"
                />
              </div>
            </div>
          </div-->
        </div>
        <div v-else>
          <div style="margin-top: 0.5em;">
            Maximum number of players has been reached for this game :/
          </div>
        </div>
      </div>
    </q-card>
  </div>
</div>
{% endblock %}
